@import "tailwindcss";

@theme {
  --color-ds-bg: #E0E0E0;
  --color-ds-border: #888888;
  --color-ds-screen-bg: #FFFFFF;
  --color-ds-blue: #2358C2;
}

body {
    background-color: var(--color-ds-bg);
}
